.team__member__player__card {
  position: relative;
  width: calc(100% - 40px);
  height: calc(120px - 40px);
  padding: 20px;
  background-image: url("../../assets/img/pattern.PNG");
  background-size: 20%;
  border: solid 2px var(--primary-color);
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

.team__member__player__card__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--primary-color);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.team__member__player__card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__member__player__card__info p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(153, 153, 153);
}

.team__member__player__card__info span {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--secondary-color);
  text-transform: capitalize;
  padding: 2.5px 5px;
  background: var(--primary-color);
  border-radius: 5px;
}

.team__member__player__card__loading {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-color);
  width: 100%;
  height: 100%;
  z-index: 3;
  transform-origin: 50% 0;
  transform: translateX(0);
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team__member__player__card__loading img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  opacity: 0.1;
}

.player__card__onload {
  animation: showCard 0.3s ease-in-out forwards;
}

@keyframes showCard {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.player__card__loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: rgba(255, 255, 255, 0.2);
  width: 70px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.player__card__loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
