.streams_container {
  position: absolute;
  top: 10%;
  right: 2.5%;
  z-index: 998;
  width: 16rem;
  height: 80%;

}

.streams_iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 900px) {
  .streams_container {
    position: absolute;
    width: calc(100% - 16px);
    height: 100%;
    top: auto;
    right: auto;
    padding: 8px;
    z-index: 996;
  }
}
